#tan-stack-table {
    margin: 3px;
    padding: 3px;
    background: linear-gradient(90deg, #6c757d, #737373);
    color: whitesmoke;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
}

tr {
    border-radius: 10px;
    border-collapse: collapse;
}

td {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    color: #7e7c7c;
}

.table-row {
    height: 36px;
}

tbody {
    background-color: whitesmoke;
}

tfoot {
    height: 10px;
}